* {
  margin: 0;
  padding: 0;
}

body {
  /* credit to upload.wikimedia.org for supplying the very cool digital rain animation*/
  /* background-image: url("https://upload.wikimedia.org/wikipedia/commons/a/a0/Digital_rain_animation_small_letters_shine.gif"); */
  background-size: 100%;
  font-family: 'Courier New', monospace;
}

textarea {
  padding: 5px;
}

h2 {
  color:black;
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
h2:before {
  content: attr(data-before);
  word-break: break-all;
  opacity: 0.5;
}
h2:after {
  content: attr(data-after);
  word-break: break-all;
  opacity: 0.5;
}

.topMostDiv {
  background-color: rgb(238, 243, 240);
  margin-left: 10%;
  margin-right: 10%;
}
#root {
  /* height: 100vh; */
  padding-bottom: 3%;
}

.mainClass {
  display: flex;
  margin-left: 10%;
  margin-right: 5%;
}

.inputSide {
  flex: 1;
  padding-right: 10%;
}

.outputSide {
  flex: 1;
  padding-left: 10%;
}

hr {
  min-height: 100%;
  max-height: 100vh;
  margin: 0;
}

.btnsDiv{
  display: flex;
  padding-top: 7px;
}

/* .answerBTNs{
  flex: 1;
  margin-right: 10px;
  margin-left: 30px;
  border-radius: 10px;
  padding: 5px 5px;
  background-color: rgb(185, 235, 185);
  cursor: pointer;
} */

/* .navBTNs {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  border-radius: 10px;
  padding: 5px 5px;
  background-color: rgb(185, 235, 185);
  cursor: pointer;
} */

/* .generateBTN{
  flex: 1;
  margin-right: 30px;
  margin-left: 25%;
  border-radius: 10px;
  padding: 5px 5px;
  background-color: rgb(185, 235, 185);
  cursor: pointer;
} */

/* .submitBTN{
  flex: 1;
  margin-right: 30px;
  margin-left: 25%;
  border-radius: 10px;
  padding: 5px 5px;
  background-color: rgb(185, 235, 185);
  cursor: pointer;
} */

/* table {
  border-spacing: 13px 0;
}

th, td {
  padding: 1px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {background-color: rgb(185, 235, 185);} */


p,
label {
    font: 1rem 'Fira Sans', sans-serif;
}

/* input[type="checkbox"] {
  display: none;
} */

input[type="checkbox"]:checked + label {
  color: rgb(35, 160, 35);
  font-style: italic;
  font-weight: bold;
  border-color: rgb(35, 160, 35);
  border-style:groove
}

label {
  display: inline-block;
  padding: 0.5em 0.5em;
  border-radius: 5px;
}


.BTNdiv {
  display: inline-block;
}

@keyframes shake {
  0% { transform: translateX(0) }
  25% { transform: translateX(5px) }
  50% { transform: translateX(-5px) }
  75% { transform: translateX(5px) }
  100% { transform: translateX(0) }
}

@keyframes shake2 {
  0% { transform: translateX(0) }
  25% { transform: translateX(5px) }
  50% { transform: translateX(-5px) }
  75% { transform: translateX(5px) }
  100% { transform: translateX(0) }
}


.BTNdiv.shake {
  animation: shake 0.35s;
}


.BTNdiv.shake2 {
  animation: shake2 0.35s;
}

.mainBTNs {
  display: flex;
  justify-content: center;
}

ul {
  list-style-type: lower-alpha;
  /* display: flex;
  flex-direction: row; */
  /* justify-content: center; */
  margin-left: 30%;
  /* padding: 0; */
}
li {
  /* flex-direction: row; */
  /* flex: 1; */
  margin-bottom: 10px;
  padding: 5px;
}

span.corrAns {
  color: rgb(35, 160, 35);
  padding: 3px;
  border-style: inset;
  border-color: rgb(35, 160, 35);
  border-style:inset;
  border-radius:10%;
  cursor: pointer;
  border-width: thin medium thick;
}

span.wrongAns {
  color: rgb(194, 24, 24);
  padding: 3px;
  border-color: rgb(194, 24, 24);
  border-style:inset;
  border-radius: 10%;
  cursor: pointer;
  border-width: thin medium thick;
}

button {
  margin-right: 5px;
  margin-left: 5px;
  border-radius: 10px;
  padding: 5px 5px;
  background-color: rgb(185, 235, 185);
  cursor: pointer;
}

.EditBTNs {
  display: flex;
  justify-content: center;
}